<h1><%= t('account.edit.title')%></h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
<fieldset>
  <dl>
    <%= devise_error_messages! %>

    <dt><%= f.label :username, t('account.edit.username') %></dt>
      <dd><%= f.text_field :username %></dd>

    <dt><%= f.label :password, t('account.edit.pass') %></dt>
      <dd><%= f.password_field :password %></dd>
      <dd class='explain'><small><%=t('account.edit.pass_leave_blank')%></small></dd>

    <dt><%= f.label :password_confirmation, t('account.edit.rpass') %></dt>
      <dd><%= f.password_field :password_confirmation %></dd>

    <dt><%= f.label :current_password, t('account.edit.opass') %></dt>
      <dd><%= f.password_field :current_password %></dd>
      <dd class='explain'><small><%=t('account.edit.opass_why')%></small></dd> 
  </dl>
  <%= f.submit t('account.edit.submit') %>
</fieldset>
<% end %>

<%= link_to "Back", :back %>
