<% size = (base) ? 70 : 40 %>
<% cls = (base) ? '' : 'handle' %>
<article>
  <header>
    <img src="http://www.gravatar.com/avatar/<%=Digest::MD5.hexdigest(post.user.email.downcase)%>`?d=identicon&amp;s=<%=size%>" height='<%=size%>' width='<%=size%>' alt="<%=post.user.username%>" class='avatar'/>
    <h3 class="<%=cls%>"><%=post.title%></h3>
    <cite><%=t('post.index.by') +' '+ post.user.username %></cite>
    <time class='posted_at' datetime="<%=post.updated_at.to_s%>"><%=post.updated_at.strftime("%e/%m/%y - %H:%M")%></time>
    <% if (!base) then %>
      <div class='response'><%=t("post.index.in_response")+' '+post.parent.user.username%></div> 
    <%end%>
  </header>
  <div class='body'><%=post.body%></div>
  <aside class='reply'>
    <span class='reply'><%=t('post.index.reply')%></span>
  </aside>
</article>

