<% content_for :title do %>
  <%=' :: ' + t('post.index.title')%>
<%end%>

<h1><%=t "post.index.title"%></h1>
<ol class='posts message-list'>
<% @Posts.each do |p| %>
  <li class='base' id='post<%=p.id%>'>
    <%= render :partial => 'post' , :locals => {:post=>p,:base=>true}%>
    <ol class='message-list'>
    <% p.posts.each do |c| %>
      <li class='post child close' data-parent="<%=c.parent_id%>" id='post<%=c.id%>'>
        <%= render :partial => 'post' , :locals => {:post=>c, :base=>false} %>
        <aside class="comments">
          <ol class="message-list"></ol>
        </aside>  
      </li>
    <%end%>
    </ol>
  </li>
<% end %>
</ol>
<%if (@count>@per_page)%>
<nav id='paging'>
 <ol>
  <% @pages.times do |p|%>
    <li class='page <%=(p == @start) ? 'current' : ''%>'>
      <%= link_to p+1,posts_page_path(p) %>
    </li>
  <% end%>
  </ol>
</nav>
<%end%>
<aside id='new-post'>
<h2><%=t('post.index.new_post')%></h2>
<%= render :partial => 'posts/new_post',:locals =>{:new_post => @new_post,:parent =>false}%>
</aside>
