<%if (current_user) then%>
<h2><%=t "post.index.title"%></h2>

<ol class='posts message-list'>
<% @Posts.each do |p| %>
  <li class='base' id='post<%=p.id%>'>
    <article>
      <header>
        <h3><%=p.title%></h3>
        <cite><%=t('post.index.by') +' '+ p.user.username %></cite>
      </header>
      <div class='body'><%=p.body%></div>
      <aside class='reply'><%=link_to t('post.index.reply'),new_post_with_parent_path(p) %> </aside>
    </article>
    <ol class='message-list'>
    <% p.posts.each do |c| %>
      <li class='post child close' data-parent="<%=c.parent_id%>" id='post<%=c.id%>'>
        <article>                           
          <header>
            <h3 class="handle"><%=c.title%></h3>
            <cite><%=t('post.index.by') + ' ' + c.user.username %></cite>
            <div class='response'><%=t("post.index.in_response")+' '+p.parent.user.username%></div> 
          </haeder>
          <div class='body'><%=c.body%></div>
        </article>
        <aside class="reply"><%=link_to t('post.index.reply'),new_post_with_parent_path(c) %></aside>
        <aside class="comments">
          <ol class="message-list"></ol>
        </aside>  
      </li>
    <%end%>
    </ol>
  </li>
<% end %>
</ol>
<%=link_to t('post.index.new_post'),new_posts_url%>
<%end%>
