<%if (current_user) then%>
<h1><%=t "post.index.title"%></h1>

<ol class='posts message-list'>
<% @Posts.each do |p| %>
  <li class='base' id='post<%=p.id%>'>
    <%= render :partial => 'post' , :locals => {:post=>p,:base=>true}%>
    <ol class='message-list'>
    <% p.posts.each do |c| %>
      <li class='post child close' data-parent="<%=c.parent_id%>" id='post<%=c.id%>'>
        <%= render :partial => 'post' , :locals => {:post=>c, :base=>false} %>
        <aside class="comments">
          <ol class="message-list"></ol>
        </aside>  
      </li>
    <%end%>
    </ol>
  </li>
<% end %>
</ol>
<%=link_to t('post.index.new_post'),new_posts_url%>
<h2><%=t('post.index.new_post')%></h2>
<%= render :partial => 'posts/new_post',:locals =>{:new_post => @new_post,:parent =>false}%>
<%end%>
