<h2><%=t('devise.passwords.title')%></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email, t('devise.passwords.email') %>
  <%= f.text_field :email %>

  <%= f.submit t('devise.passwords.submit') %>
<% end %>

<%= render :partial => "devise/shared/links" %>
