<% posts.each do |p| %>
  <li 
    class='base  <%=(defined?(current) && current==p.id) ? 'current' : ''%>' 
    id='post<%=p.id%>' 
    data-filters='Base<%=(defined?(current) && current==p.id) ? ',Current' : ''%><%=current_user.show_tree ? ',Tree' : '' %>'>
    <%= render :partial => 'posts/post' , :locals => {:post=>p,:base=>true}%>
    <ol class='message-list'>
    <% p.posts.each do |c| %>
      <li 
        class='post child <%=(defined?(current) && current==c.id) ? 'current' : 'close'%> <%=(current_user.read_posts.include? c) ? 'read' : '' %> <%=(c.body.length==0) ? 'empty' : '' %>' 
        data-parent="<%=c.parent_id%>" id='post<%=c.id%>' 
        data-filters='Post<%=(defined?(current) && current==c.id) ? ',Current' : ''%><%=current_user.show_tree ? ',Tree' : '' %>'>

        <%= render :partial => 'posts/post' , :locals => {:post=>c, :base=>false} %>
        <aside class="comments">
          <ol class="message-list"></ol>
        </aside>  
      </li>
    <%end%>
    </ol>
  </li>
<% end %>
