<% content_for :title do %>
  <%=' :: ' + t('post.index.title')%>
<%end%>

<h1><%=t "post.index.title"%></h1>
<ol class='posts message-list' data-filters="PostList<%=current_user.show_tree ? ',Tree' : '' %>">
  <%= render :partial => 'posts/list', :locals =>{:posts=>@Posts}%>
</ol>
<%if (@count>@per_page)%>
<nav id='paging'>
 <ol>
  <% @pages.times do |p|%>
    <li class='page <%=(p == @start) ? 'current' : ''%>'>
      <%= link_to p+1,posts_page_path(p) %>
    </li>
  <% end%>
  </ol>
</nav>
<%end%>
<aside id='new-post'>
<h2><%=t('post.index.new_post')%></h2>
<%= render :partial => 'posts/new_post',:locals =>{:new_post => @new_post,:parent =>false}%>
</aside>
