<h2><%=t "post.index.title"%></h2>

<ol>
<% @Posts.each do |p| %>
  <li class='post base' id='post<%=p.id%>'>
    <article>
      <header>
        <h3><%=p.title%></h3>
        <%=t('post.index.by') +' '+ p.user.username %>
      </header>
      <div class="body"><%=p.body%></div>
      <footer><%=link_to t('post.index.reply'),new_post_with_parent_path(p) %> </footer>
    </article>
    <ol class='messages'>
    <% p.posts.each do |c| %>
      <li class='post child' data-parent="<%=c.parent_id%>" id='post<%=c.id%>'>
        <article>                           
          <header>
            <h3><%=c.title%></h3>
            <%=t('post.index.by') + ' ' + c.user.username %>
          </haeder>
          <div class='body'><%=c.body%></div>
          <footer><%=link_to t('post.index.reply'),new_post_with_parent_path(c) %> </footer> 
        </article>
        <ol class='messages'></ol>
      </li>
    <%end%>
    </ol>
  </li>
<% end %>
</ol>
<%=link_to t('post.index.new_post'),new_posts_url%>
