<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tag %>
    <title><%=t('site_name')%><%= yield(:title)%></title>
    <%= yield(:head) %>
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer' rel='stylesheet' type='text/css'>
    <%=stylesheet_link_tag 'FloatBox' %>
    <style type="text/css">             
      header.main .title{
        font-family: 'IM Fell Great Primer', arial, serif;
      }
    </style>
  </head>
  <body>
      <header class='main'>
      <%=link_to t('site_name'), root_path,{:class=>'title'}%>
        <nav>
        <ul>
        <%if (!current_user)%>
          <li><%=link_to t('log_in'),new_user_session_path%></li>
        <%else%>
          <li><%=link_to t('post.index.new_post'),new_posts_url,{:id=>'new-post-button'}%></li>
          <li><%=link_to t('log_out'),destroy_user_session_path%></li> 
          <li><%=link_to t('invite'),new_user_invitation_path%></li>
          <li><%=link_to t('edit_account'), edit_user_registration_path%></li>
        <%end%>
        </ul>
        </nav>
      </header>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :class=> "flash #{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    <%= javascript_include_tag :ckeditor %>
    <%= include_javascripts :common ,controller_name%>
  </body>
</html>
