<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tag %>
    <title><%=t('site_name')%><%= yield(:title)%></title>
    <%= yield(:head) %>
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer' rel='stylesheet' type='text/css'>
    <%=stylesheet_link_tag 'FloatBox' %>
    <style type="text/css">             
      header.main .title{
        font-family: 'IM Fell Great Primer', arial, serif;
      }
    </style>
  </head>
  <body>
      <header class='main'>
      <%=link_to t('site_name'), root_path,{:class=>'title'}%>
        <nav>
        <ul>
        <%if (!current_user)%>
          <li><%=link_to t('log_in'),new_user_session_path%></li>
        <%else%>
          <li><%=link_to t('post.index.new_post'),new_posts_url,{'data-filters'=>'NewPost'}%></li>
          <li><%=link_to t('log_out'),destroy_user_session_path%></li> 
          <li><%=link_to t('invite'),new_user_invitation_path%></li>
          <li><%=link_to t('edit_account'), edit_user_registration_path%></li>
        <%end%>
        </ul>
        <%= form_for :search,:url=>{:controller=>:posts,:action=>:search},:html=>{:id=>'search_form'} do |f| %>
          <%=f.search_field :search,{:placeholder=>t('search')}%>
          <%=f.submit t('search') %>
        <%end%>
        </nav>
      </header>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :class=> "flash #{name}" %>
      <% end %>
      <%= yield %>
     <% javascripts= {
        'base'  => %w(mootools-core-1.3 mootools-more FloatBox delegation Behavior rails) ,
        'index' => %w(Post Tree index)
      }%>
      <%= javascript_include_tag 'ckeditor/ckeditor' %>
      <% javascripts['base'].each do |js| %>
        <%= javascript_include_tag 'base/'+js%>
      <%end%>

      <% if (javascripts.has_key?(controller_name))%>
          <% javascripts[controller_name].each do |js| %>
            <%= javascript_include_tag controller_name + '/' + js %>
          <%end%>
      <%end%>
      <%= javascript_include_tag 'base/application' %>
  </body>
</html>
