<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <header>
        <h1><%=t('site_name')%></h1>
        <nav>
        <%if (!current_user)%>
          <%=link_to t('log_in'),new_user_session_path%> 
        <%else%>
          <%=link_to t('log_out'),destroy_user_session_path%> 
        <%end%>
      </header>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
